html,body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
 font-family: 'Roboto', sans-serif;
}

hr {
  margin: 0;
}
.top-bar {
  background-color: white;
  height: 60px;
  padding-left: 3%;
  position: fixed;

}
.icon {
  display: inline-block;
  height: 50px;
  width: 50px;
}
.icon-text {
  display: inline-block;
  margin-left: 1%
}

#left-section {
  display: inline-block;
  width: 12%;
  margin-top: 60px;
}
.search-bar {
  display: inline-block;;
  margin-left: 1%;
}
.search-icon {
  width: 10px;
  height: 10px;
}

.middle-section {
  display: inline-block;
  margin-left: 12%;
  width: 73%;
  height: 90%;
}

#right-section {
  background-color:#F3F3F3;
  display: inline-block;
  height:100%;
  margin-top: 60px;
  position:fixed;
  right:0;
  width:15%;
  z-index:1;
}

.drive{
  margin: 10px 10px 0 0;
}

.selected {
  background-color: white;
}

.hide {
  display: none;
}
.no-drive {
  margin-top: 60px;
}
.my-drive {
  margin-top: 60px;
}


/**Middle Files styling*/

.details {
  margin-top: 1%;
  margin-left: 2%;
}

.detailsContainer{
  display: none;
  height: 40%;
  bottom: 0;
  background-color: rgb(218, 218, 218);
  /**box-shadow: 0px 0px 5px black;*/
  position: fixed;
  width: 73%;
  display: flex;
  flex-direction: row;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.detailsHeader{
  font-size: 50px;
}

.files hr {
  border-color: grey;
}

.file{
  border-radius: 10px;
  display: flex;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;

}


.file:hover {
  background-color: #f1f1f1;
}

.fileBorder{
  border-color: red;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  transition: all .1s;
}

.fileContainer{
  height: 60%;
  overflow-y: scroll;
}

.fileIcon{
  width: 36px;
  height: 48px;
  align-self: center;
}

.files {
  height: 60%;
  margin-bottom: 5%;
}

.fileTitle{
  padding-left: 10px;
  width: 20%;
}

.fileSettings{
  max-width: 36px;
  align-self: center;
  margin-left: 10%;
}

.fileProgress{
  align-self: center;
  align-self: center;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 3px;
  padding-right: 3px;
  color: #f1f1f1;
  width: fit-content;
}


.users{
  max-width: 36px;
  align-self: center;
}







/**Calendar styling*/
.calendar-day{
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 5%;
  padding-bottom: 5%;
}

.calendar-day li{
  font-size: small;
  overflow: wrap;
}

.calendar-day li:hover {
  background-color: gainsboro;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-day li:hover:active{
  background-color: #B0BAC1;
}

.date-badge{
  border: 1px solid;
  border-color: #fff;
  border-radius: 50%;
  color:#fff;
  display:inline-block;
  overflow: wrap;
  padding-left:8px;
  padding-right:8px;
  position: absolute;
  right:20px;
  text-align:center;
}

.homework-clicked{
  background-color: #ADBECA;
}

#calendar{
  height: 78%;
  overflow: wrap;
  position: relative;
}

#change-week{
  display: inline-block;
  position: absolute;
  right: 10px;
}

#today{
  background-color: #0D5E9D;
}