body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {

}

hr {
  margin: 0;
}

.files hr {
  border-color: grey;
}
#left-section {
  display: inline-block;
  width: 12%;

}

#middle-section {
  display: inline-block;
  margin-left: 12%;
  width: 73%;
}

#right-section {
  display: inline-block;
  width:15%;
  right:0;
}

.file:hover {
  background-color: #f1f1f1;
}

.item{
  border: 0 0 5px 0;
  border-color: black;
  border-width: 5px;
}

.selected {
  background-color: white;
}

.files {
  height: 60%;
}
