body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
 font-family: 'Roboto:900'
}

hr {
  margin: 0;
}

.files hr {
  border-color: grey;
}
#left-section {
  display: inline-block;
  width: 12%;
}

#middle-section {
  display: inline-block;
  margin-left: 12%;
  width: 73%;
}

#right-section {
  display: none;
  width:15%;
  right:0;
}

.details {
  margin-top: 1%;
}

.file:hover {
  background-color: #f1f1f1;
}

.drive{
  border: 0 0 5px 0;
  border-color: black;
  border-width: 5px;
}

.selected {
  background-color: white;
}

.files {
  height: 60%;
  margin-bottom: 5%;
}

.hide {
  display: hidden;
}

/**Calendar styling*/

#open-calendar{
  float:right;
}

#close-calendar{
  float:right;
}

#calendar{
  overflow-y: scroll;
  position: relative;
  height: 78%;
}

#calendar-day{
  margin-bottom: 5%;
  padding-bottom: 5%;
}

#calendar-day li{
  overflow: wrap;
  font-size: small;
}

#calendar-day li:hover {
  background-color: gainsboro;
}